.singletags a::before {
	border-bottom: 10px solid transparent;
	border-right: 8px solid  #f66f66;
	border-top: 10px solid transparent;
	content: "";
	height: 0;
	left: -8px;
	position: absolute;
	top: 0;
	width: 0;
    box-sizing: border-box;
}

.singletags a::after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 4px;
	left: -2px;
	position: absolute;
	top: 8px;
	width: 4px;
    box-sizing: border-box;
}


.singletags a {
	border-radius: 0 2px 2px 0;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.27273;
	margin: 2px 4px 2px 10px;
	padding: 3px 7px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-style: italic;
   
    background-color: #f66f66;
}
path{ color:#f66f66;}
#portadaAlbum img{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border: 10px solid black}
    #vistaDetalle{ width: 80%;     margin: 0 auto;}
    #playAlbum{ width: 80%;     margin: 0 auto;}